*{
    margin: 0px;
    padding: 0px;
    font-family: 'ubuntu';
}

nav{
    height: 50px;
}

nav ul{
    padding: 15px 0 0 40px;
    display: flex;
}

nav ul li{
    list-style-type: none;
}

nav ul li a{
    font-family: 'ubuntu';
    text-decoration: none;
    color: rgb(79, 110, 197);
    margin-left: 10px;
}


.foot-info{
    color: rgb(100, 99, 99);
    padding-top: 50px;
    padding-left: 50px;
}


footer{
    min-height: 200px;
    background: lightgray;
}